// Utility functions

// Flex mixin -- sets display attribute to 'flex'
// sets flex-flow to value of $flow param, accepts 'row' or 'column'
// Default call without argument is set to 'row'
@mixin setFlex($flow: row) {
  display: flex;
  @if $flow == column {
    flex-flow: column;
  }
  @else {
    flex-flow: row wrap;
  }
}

// Center align flex contenrs
@mixin centerItems() {
  justify-content: center;
  align-items: center;
}

// Set background attributes to enable parallax scrolling
@mixin parallax() {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// Add drop shadow effect. Default small for thin subtle shadow.
// Big is wider to give illusion of float but not exaggerated

@mixin dropShadow($size: small) {
  @if $size == small {
    box-shadow: 0 1px 5px rgba(0,0,0,0.12),
                0 1px 3px rgba(0,0,0,0.24);
  }
  @else if $size == big {
    box-shadow: 0 4px 12px rgba(0,0,0,0.18),
                0 2px 20px rgba(0,0,0,0.12);
  }
}

// Specify hover true/false to increase shadow on mouseover, default false
@mixin dropShadowHover() {
  box-shadow: 0 12px 28px rgba(0,0,0,0.18),
              0 8px 12px rgba(0,0,0,0.12);
}