@import 'functions';

.logo {
  border-radius: 50%;
  width: 100%;
  @include dropShadow(big);
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}

.logo-container {
  max-width: 148px;
  z-index: 1;
  background-color: transparent;
  border-radius: 50%;
}

#home {
  margin-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1)
}

.navlink:hover {
  background-color: rgb(231, 231, 231);
  transition: 0.3s;
}

.nav-container {
  top: 0;
  transition: min-height 0.2s ease-out, top 0.35s ease-in-out;
  &.shrink {
    min-height: 65px;
  }
  &, &.shrink {
    @include tablet() {
      min-height: 65px;
    }
    @include mobile() {
      min-height: 50px;
    }
  }
  &.nav-hide {
    top: -50%;
  }
}

.nav {
  padding: 0 25px;
  .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: -135px;
    transition: all 0.2s ease;
    @include laptop() {
      left: -15px;
    }
    @include tablet() {
      left: 35px;
    }
    @include mobile() {
      top: 0px;
      left: 12px;
      max-width: 50px;
      transform: none;
      transition: none;
      .logo {
        box-shadow: none;
      }
    }

    &.shrink {
      transform: scale(0.6) translateY(-60px) translateX(0);
      transition: all 0.2s ease;
      @include laptop() {
        transform: scale(0.6) translateY(-60px) translateX(-70px);
      }
      @include tablet() {
        max-width: 65px;
        transform: translateY(-20px);
        .logo {box-shadow: none;}
      }
      @include mobile() {
        max-width: 50px;
        transform: none;
        transition: none;
      }
    }
  }
}