// Styling for the team selection screen
@import 'functions';

.team-select {
  @include setFlex();
  @include centerItems();
  width: 100%;
}

.logo {
  height: 150px;
  width: auto;
  align-self: flex-start;
  position: relative;
  top: -65px;
  right: 75px;
  border-radius: 100%;
  @include dropShadow(big);
}
