// Styling for the team selection screen
@import 'functions';

.logo {
  border-radius: 100%;
  @include dropShadow(big);
  &, .logo-container {
    max-width: 150px;
    margin: 0 25px;
  }
}

.team-select {
  @include setFlex();
  @include centerItems();
  width: 100%;
  .logo {
    cursor: pointer;
  }
}

.hero {
  .logo-container {
    visibility: hidden;
    align-self: flex-start;
    .logo {
      position: relative;
      top: -65px;
      right: 0px;
    }
  }
}
