// Team color maps
$ferrari: (base: #84071f, high: #bf1429, acc: #558669);
$red_bull: (base: #09243f, high: #163b61, acc: #ab0d3b);
$renault: (base: #de9f20, high: #e3b63e, acc: #333333);
$mercedes: (base: #1d7882, high: #34b3b9, acc: #53ebc7);
$williams: (base: #5da0b9, high: #8bc3d2, acc: #f25662);
$mclaren: (base: #13181d, high: #222a30, acc: #f26b22);

// Set the appropriate color based on the team and type of color (base, highlight, accent)
// Access the map of colors for the given team, where the map key is the color type.
// Team argument must reference one of the team variables, so should use $ syntax.
// e.g. @include setTeamColor($ferrari, base)
@mixin setTeamColor($team, $type) {
  background-color: map-get($map: $team, $key: $type);
}

// Create a gradient based on team highlight and base colors, taken from team color map.
// $team argument should be given as the map variable name, e.g. setTeamGradient($ferrari)
@mixin setTeamGradient($team) {
  $start: map-get($map: $team, $key: high);
  $end: map-get($map: $team, $key: base);
  background: radial-gradient(circle, $start, $end);
}

// Team classes
.ferrari {
  @include setTeamGradient($ferrari);
}
.red_bull {
  @include setTeamGradient($red_bull);
}
.renault {
  @include setTeamGradient($renault);
}
.mercedes {
  @include setTeamGradient($mercedes);
}
.williams {
  @include setTeamGradient($williams);
}
.mclaren {
  @include setTeamGradient($mclaren);
}