@import 'chart', 'team', 'functions', 'select';
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

$bgWhite: #F5F5F5;
$mainText: rgba(0, 0, 0, 0.87);

body {
  color: $mainText;
}

.hdg {
  font-family: 'Raleway', sans-serif;
}

// Responsive container which reserves space before load
.image-container {
  width: 100%;
  height: 0;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
}

// Main header
.hero-container {
  @include setFlex();
  @include centerItems();
  padding-top: 220px;

  .hero {
    @include setFlex(column);
    @include centerItems();
    width: 1200px;

    .hdg {
      padding-top: 50px;
      margin: 0;
      font-size: 1.5rem;
    }

    // Wrapper fills parent, set max-width on component to original image
    .image-wrapper {
      width: 100%;
    }
  }
}

// Content area
.info {
  @include setFlex();
  min-height: 800px;
}

// Stats area
.stats {
  @include parallax();
  @include setFlex();
  min-height: 500px;
}

// Container to restrict content width and presentation
.content {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .nav-container, .nav-container.shrink {
    min-height: 80px;
  }
}
@media screen and (max-width: 420px) {
  .hero-container {
    padding-top: 120px;
  }
}

// ## TODO
// Download font and bundle.
// Different image sizes for different devices.
// Try <picture> to responsively select appropriate image.
// Use AJAX requests to fetch main content (team info, stats) from the
// network asynchronously.