@import 'chart', 'team', 'functions', 'select';
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

$bgWhite: #F5F5F5;
$mainText: rgba(0, 0, 0, 0.87);

// Body
*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  @include setFlex(column);
  background-color: $bgWhite;
  font-family: 'Roboto', sans-serif;
}

.hdg {
  font-family: 'Raleway', sans-serif;
}

// Navbar
nav {
  @include setFlex();
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  min-height: 100px;
  max-width: 800px;

  .navlink {
    color: $mainText;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    transition: 0.3s;

    &:hover {
      background-color: rgb(231, 231, 231);
      transition: 0.3s;
    }
  }
}

// Main header
.hero-container {
  @include setFlex();
  @include centerItems();
  min-height: 500px;

  .hero {
    @include setFlex(column);
    @include centerItems();

    img {
      max-width: 1200px;
    }

    .hdg {
      color: $mainText;
      padding-top: 50px;
      margin: 0;
      font-size: 1.5rem;
    }
  }
}

// Content area
.info {
  @include setFlex();
  min-height: 800px;
}

// Stats area
.stats {
  @include parallax();
  @include setFlex();
  min-height: 500px;
}

// Container to restrict content width and presentation
.content {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .hero-container {
    min-height: auto;
  }
  .hero img {
    width: 100%;
    height: auto;
  }
  .logo, .logo-container {
    width: 65px;
    height: auto;
  }
  .hero .logo-container .logo {
    right: 0px;
    top: -35px;
  }
}