@import 'chart', 'team', 'functions', 'nav';
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

$bgWhite: #F5F5F5;
$lightText: rgba(255, 255, 255, 0.9);
$mainText: rgba(0, 0, 0, 0.87);

body {
  color: $mainText;
}

.hdg {
  font-family: 'Raleway', sans-serif;
}

button:focus {outline: none;}

.btn {
  width: 50px;
  padding: 6px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
  margin: 2px;
  cursor: pointer;
}

// Wrapper fills parent 100%, set max-width on component to original image
.image-wrapper {
  width: 100%;
}

// Responsive container which reserves space with padding before load
.image-container {
  width: 100%;
  height: 0;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
}

.flex-container {
  @include setFlex();
}

// Main header
.hero-container {
  @include setFlex();
  @include centerItems();
  padding-top: 220px;

  .hero {
    @include setFlex(column);
    @include centerItems();
    width: 1200px;

    .hdg {
      padding-top: 50px;
      margin: 0;
      font-size: 1.5rem;
    }
  }
}

// Content area
.info {
  @include setFlex();
  min-height: 800px;
}

// Stats area
.stats {
  @include parallax();
  @include setFlex();
  min-height: 500px;

  .driver-container {
    @include setFlex();
    width: 100%;
    justify-content: center;
    padding-top: 10px;
  }

  .driver-card {
    @include setFlex(column);
    width: 500px;
    margin: 5px;
    padding: 16px;

    .driver-img {
      width: 200px;
      height: 250px;
      background-color: rgba(128, 128, 128, 0.247);
    }

    .driver-info {
      @include setFlex();
      width: 100%;
      justify-content: space-around;

      ul {
        list-style: none;
        line-height: 25px;
        padding-left: 0px;
      }
    }
  }
}

// Container to restrict content width and presentation
.content {
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
  background-color: $bgWhite;
}

@include mobile() {
  .hero-container {
    padding-top: 120px;
  }
  .stats .driver-card {
    width: 100%;
    padding: 5px;
    margin: 15px 0;

    .driver-info {
      margin-bottom: 10px;

      .driver-img {
        width: 120px;
        height: 160px;
      }
    }
  }
}

@include tablet() {
  .content {
    width: 100%;
  }
}

// ## TODO

// ## responsive-loader to load srcset automtically

// #### Team select screen vertical cropped bars which expand << >> when clicked
//    as if team page grows out of it snappily .

// Add animated team select dropdown from floating icon hover

// Get car specs

// --- Download fonts and bundle.
// Different image sizes for different devices.
// Try <picture> to responsively select appropriate image.